<form>
  <input name="recipient" type="hidden" value="{{ recipient }}" />
  <input name="subject" type="hidden" value="{{ subject }}" />
  <input name="body" type="hidden" value="{{ body }}" />
  <input class="campaignist-send-mail-button" type="button" value="Send" />
  <a download="message.eml" class="download-link" style="display: none;">Open email to send</a>
<textarea name="mail" style="display: none;">
To: User {{ recipient }}
Subject: {{ subject }} 
X-Unsent: 1
Content-Type: text/html

<html>
<head>
</head>
<body>
{{ body }}
</body>
</html>
</textarea>
</form>